<% layout('layouts/boilerplate')%>
    <h1>All noodle dishes</h1>
    <div>
        <a href="/dishes/new">Add a Dish</a>
    </div>
    <ul>
        <% for (let dish of dishes) { %> 
            <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" alt="" src="<%=dish.images[0].url%>">
                    </div> 
                    <div class="col-md-8">
                       <div class="card-body">
                            <h5 class="card-title"><%=dish.title%></h5>
                            <p class="card-text"><%= dish.description %></p>
                            <p class="card-text">
                                <small class="text-muted"><%= dish.location %></small>
                            </p>
                            <a class="btn btn-primary" href="/dishes/<%=dish._id%>">View <%= dish.title %></a>
                       </div> 
                    </div>
                </div>
            </div>
        <% } %>
        <li></li>
    </ul>
</body>
</html>